#calculator {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: blue;
    padding: 16px;
    width: 225px;
    gap: 10px;
}

#display {
    background-color: grey;
    padding: 8px;
    width: 200px;
    height: 24px;
    align-items: center;
}

#keys {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
}

#operators {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 4px;

}

#numberPad {
    display: flex;
    width: 150px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 4px;
}

#number, #decimal {
    padding: 16px;
}

#zero {
    padding: 16px 42px;
}

#op {
    padding: 4px 16px;
}

#back, #clear {
    padding: 4px 6px;
}