#calculator {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: blue;
    padding: 12px;
    width: 225px;
    gap: 10px;
    border: 2px solid silver;
}

#display {
    background-color: grey;
    padding: 8px;
    width: 200px;
    height: 32px;
    align-items: center;
    overflow-x: scroll;
    overflow-y: hidden;
    border: 2px solid silver;
}

#keys {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2px;
}

#operators {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2px;

}

#numberPad {
    display: flex;
    width: 160px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 2px;
}

#number, #decimal {
    height: 50px;
    width: 50px;
    border: 2px solid silver;
}

#zero {
    height: 50px;
    width: 102px;
    border: 2px solid silver;
}

#op, #back, #clear {
    height: 28px;
    width: 65px;
    border: 2px solid silver;
}

/*#back, #clear {
    padding: 4px 6px;
}*/